* {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.align-self-center {
    align-self: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.red {
    padding: 10px;
    width: 800px;
    height: 800px;
    margin: 10px auto;
    background-color: red;
}