.pink {
    background-color: pink;
    width: 300px;
    height: 300px;
}

.green {
    background-color: green;
    width: 150px;
    height: 150px;
}

.blue {
    background-color: blue;
    width: 150px;
    height: 150px;
}
