.yellow_1 {
    background-color: yellow;
    min-width: 200px;
    min-height: 200px;
    margin: 10px;
}

.yellow_2 {
    background-color: yellow;
    flex-grow: 0;
    flex-shrink: 0;
    height: 150px;
    width: 200px;
    padding-top: 20px;
    margin: 10px;
}

.big_blue {
    flex-grow: 1;
    background-color: blue;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-left: 20px;
}

.block {
    overflow: auto;
    margin-top: 20px;
    max-height: 500px;
    background-color: brown;
}

.block_1 {
    overflow: auto;
    background-color: brown;
}