.blue_3 {
    background-color: blue;
    margin-top: 10px;
    width: 100%;
    height: 100px;
}

.purple {
    background-color: purple;
    width: 100%;
    height: 600px;
    padding: 10px 10px;
    margin-top: 10px;
    column-gap: 10px;
    overflow: auto;
}

.green_4 {
    height: 50px;
}

.green_3 {
    background-color: green;
    overflow: auto;
    padding: 10px;
    min-width: 300px;
    min-height: 75%;
}

.red_small {
    background-color: red;
    height: 150px;
    width: 90%;
    margin: 10px;
}